body {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
