.hero {
  background-image: url("/public/backgroundImg.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: black;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: green;
}

.cta-button {
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}
